extends layout
block content
    h1= title
    form(id='vanForm', action="/resource/van", method="POST")
        div.form-group
            label.vanAttr(for='vancolor') van color
            input#vancolor(type='text', name='vancolor')
        div.form-group
            label.vanAttr(for='vanmodel') van model
            input#vanmodel(type='text', name='vanmodel')
        div.form-group
            label.vanAttr(for='vanprice') van price
            input#vanprice(type='number', name='vanprice')
        input(type="submit")
    script.
        document.forms['vanForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });